@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --select-border: #404040;
  --select-focus: #1e40af;
  --select-arrow: var(--select-border);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0.5em 1em 0.5em 0;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
}

button {
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  font-family: inherit;
  min-width: 10ch;
  min-height: 44px;
  padding: 0.25em 0.75em;
  background-color: red;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

